  <div class="side" [class]="sideClass">
    <div class="list-group">
    <a class="list-group-item list-group-item-action" [class.active]="!category" routerLink="/" [queryParams]="{}">
      All Categories
    </a>
    <a class="list-group-item list-group-item-action" *ngFor="let c of categories$|async" [class.active]="category == c.name" routerLink="/" [queryParams]="{category:c.name}">
      {{c.name}}
    </a>
  </div>

  <div class="show_hide" (click)="toggle()">
    <svg *ngIf="!show" width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="white" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"/>
      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"/>
    </svg>
    <svg *ngIf="show" width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="white" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
      <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </div>
</div>