<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">A-Shop</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-card" routerLinkActive="active">
            Shopping Card <span class="badge badge-warning">{{items}}</span>
          </a>
        </li>
        
        <li class="nav-item" *ngIf="!logged">
          <a class="nav-link" routerLink="/authentication" routerLinkActive="active">Authentication</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="logged">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/check-out">Check Out</a>
            <div class="dropdown-divider"></div>
            <button class="btn btn-danger btn-block" (click)="logOut()">Log Out</button>
          </div>
        </li>
      </ul>
    </div>
</div>
  </nav>